{% extends 'home/base.html.twig' %}
{% set active_page = 'admin' %}

{% block title %}Mise à jour de l'utilisateur{% endblock %}

{% block body %}
    <div class="container mt-4">
            <div class="contacts">
                <div>
                    <h4>Mon utilisateur</h4>
                </div>
                
                {{ form_start(form) }}
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="contat_name" class="form-label mt-4">Prénom</label>
                                {{ form_widget(form.firstname, { 'attr': {'class':'form-control', 'placeholder' : 'Prénom du contact'}}) }}
                            </div>
                            <div class="form-group col-md-3">
                                <label for="collabFinder" class="form-label mt-4">Nom </label>
                                {{ form_widget(form.lastname, { 'attr': {'class':'form-control', 'placeholder' : 'Nom du contact'}}) }}
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label class="form-label mt-3">Email</label>
                            {{ form_widget(form.email, { 'attr': {'class':'form-control', 'placeholder' : 'Email'}}) }}
                        </div>

                        <br>
                  {{ form_end(form) }}       
                        <div class="form-group col-md-6">
                            <button type="submit" class="btn btn-primary float-end">Mettre à jour l'utilisateur</button>
                            <a class=" btn btn-primary " href="{{ path("app_admin") }}"><i class="fa-solid fa-chevron-left"></i> Retour </a>
                        </div> 
                        
                    </fieldset>
                {{ form_end(form) }}

            </div>
    </div>

{% endblock %}

